WS_PORT=
WS_INTERVAL= //recommended at least 30000 ms
API_URL=
TOKEN = 
BOT_TOKEN= // token for your tg bot that send alert in chat
LITESERVER_CONFIG_URL= // https://ton.org/global-config-wallet.json

