WS_PORT= //default 3000
LITESERVER_CONFIG_URL= //now https://ton.org/global-config-wallet.json
PASSWRD= //validator password
NODE_URL= //link to the server with node, example https://127.0.0.1:4000
PORT=  //the port on which your http server runs, default 4000
