API_URL= validator_url
PASSWRD = validator_password

DB_PASSWRD = database_password
DB_USER = user
DB_HOST = host
DB_PORT = 4000
DB_NAME = dbname

WS_PORT=3030

LITESERVER_CONFIG_URL=https://ton.org/global-config-wallet.json
TOKEN=E-rhFHutYrJzPxIa3Q8s_41f2tv96sR4r_f3X7ErsRA
DHTSERVER_CONFIG_URL=https://ton.org/global-config-wallet.json